<h1>お気に入りページ</h1>

<table>
  <thead>
    <tr>
      <th>投稿者名</th>
      <th>タイトル</th>
      <th>内容</th>
      <th>画像</th>
    </tr>
  </thead>

  <tbody>
    <% @favorites.each do |favorite| %>
      <tr>
        <td><%= favorite.picture.title %></td>
        <td><%= favorite.picture.content %></td>
        <td><%= image_tag(favorite.picture.image.url, style: 'width: 200px; height: 180px;') if favorite.picture.image && favorite.picture.image.url %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '投稿一覧', pictures_path %>
